html:not([privatebrowsingmode="temporary"]) {
    --custom-bg: #f1f1fa;
}

html:not([privatebrowsingmode="temporary"]) body {
    background: var(--custom-bg) !important;
}

html:not([privatebrowsingmode="temporary"]) #navigator-toolbox {
    padding-top: 3px;
    padding-bottom: 4px;
    background: var(--custom-bg) !important;
    border-bottom: 0 !important;
}

html:not([privatebrowsingmode="temporary"]) #nav-bar {
    background: var(--custom-bg) !important;
}

html:not([privatebrowsingmode="temporary"]) #sidebar-box {
    background: var(--custom-bg) !important;
    width: 350px !important;
}

html:not([privatebrowsingmode="temporary"]) #sidebar-splitter {
border: none !important;
background: transparent !important;
width: 1px !important;
}

html:not([privatebrowsingmode="temporary"]) #TabsToolbar {
    visibility: collapse !important;
}

html:not([privatebrowsingmode="temporary"]) .titlebar-buttonbox-container {
    position: absolute;
    right: 0;
    top: 9px;
    display: flex;
    justify-content: center;
}

html:not([privatebrowsingmode="temporary"]) #nav-bar {
width: calc(100% - 100px);
}

html:not([privatebrowsingmode="temporary"]) #sidebar-header {
    display: none;
}

html:not([privatebrowsingmode="temporary"]) #identity-icon-label {
    display: none;
}

html:not([privatebrowsingmode="temporary"]) #urlbar {
    left: 50% !important;
    transform: translateX(calc(-50% + 100px));
    max-width: 960px !important;
}

html:not([privatebrowsingmode="temporary"]) #urlbar:not([breakout-extend]) #urlbar-background {
    background: none !important;
    background-color: transparent !important;
}
